<div class="message-container">
    <a href="#">
      <!-- <img class="media-object" src="http://placehold.it/64x64" alt="..."> -->
      <!-- Image here -->
       <% if conversation.originator.picture.attached? %>
   
          <% variant = conversation.originator.picture.variant(resize_to_limit: [100, 100]).processed %>
          <img src="<%=(url_for(variant))%>">
        <% end %>

    </a>
  
    <h4 class="media-heading">
     </b>From: </b> <%= conversation.originator.name %> <br>
      <b>Subject: </b><%= conversation.subject %><br>
      <b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %>
    
    <%= truncate conversation.messages.last.body, length: 145 %> <br>
    <%= link_to "View/Reply to Message Chain", conversation_path(conversation)  %> 
    </h4>
</div>

