<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
       <%= f.select(:recipients, @user_messaging_list.collect {|p| [ p.name, p.id ] }, {}, { multiple: true , class: "form-control" })%><br><br>
    </div>
    <div class="form-group">
      <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %><br><br>
    </div>
    <div class="form-group">
      <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %><br><br>
    </div>

    <%= f.submit "Send Message", class: "btn btn-success" %><br><br>

<% end %> 