
 <!-- <div class="mail-container"> -->
<br><br><br><br>
  
    <ul class="mail-banner"> <!-- CSS for compose button -->
    <li><%= link_to "Compose", new_conversation_path, class: "btn btn-success" %></li>
    </ul> 
  
    <% if @conversation.is_trashed?(@current_user) %>
        <ul class="mail-banner2"> <!-- CSS for untrash button -->
        <li></li><%= link_to 'Untrash', untrash_conversation_path(@conversation), class: 'btn btn-info', method: :post %></li>
        </ul>
    <% else %>
        <ul class="mail-banner2"> <!-- CSS for trash button -->
        <li><%= link_to 'Move to trash', trash_conversation_path(@conversation), class: 'btn btn-danger', method: :post,
                    data: {confirm: 'Are you sure?'} %></li>
        </ul>
    <% end %>


<%= render 'mailbox/folders' %>

<br><br><br><br><br>

    <div class="mail-container">
        <%= render partial: 'messages' %>
      
        <!-- Reply Form -->

        <%= form_for :message, url: reply_conversation_path(@conversation) do |f| %>
            
              <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control" %><br>
            
            <%= f.submit "Reply", class: 'btn btn-danger pull-right' %>
        <% end %> 
        </div>
        
    </div>


