<%= render 'shared/logobanner' %>


<% if @pets == [] %>
<div class="show-container">
<div class="show-title">

    <div class="no-pets"><%= "There are no other pets to display."%><br><br> 
    <%= "Please spread the word and come back soon."%></div>

</div>
</div>

<% else %>
<div class="index-container"> 

    <% @pets.each do |pet| %>
        <div class='index-title'>
        <h1><%= link_to pet.name, pet_path(pet) %></h1>
        <span><%= pet.user.neighbourhood%> </span><br>
         <% variant = pet.picture.variant(resize_to_limit: [300, 300]).processed %> 
        <img src="<%=(url_for(variant))%>">
        <br>
        <div class="cat-info">
        <span>Owner:</span> <%= link_to "#{pet.user.name}", user_path(pet.user) %><br><br>
        <span>Likes:</span> <%= "#{pet.likes}" %><br>
        <span>Dislikes:</span> <%= "#{pet.dislikes}" %>
        </div>
        </div>
        
    <% end %>
    
</div>
<% end %>