   <div class="logo-banner">
    <%# <img src="https://i.pinimg.com/originals/30/7d/4d/307d4d03ef660e147a9d79637d11ee28.jpg"> %>

    <h1><img src="https://www.freelogodesign.org/file/app/client/thumb/3fbf174c-c555-4d1c-b145-f1099de24191_200x200.png?1607351240389"> </h1>
    <h3> Why Should Your Pet's Only Bestfriend be You? </h3>
    </div>
    
 <%  if @pets.get_user_pets(@current_user).count == 0 %>

    <div class="no-pets"><%= "You haven't uploaded any of your pets yet."%><br><br> 
    Please <%= link_to "click here", new_pet_path %> to upload.</div>
<% else %>

<div class='index-container'>
<% @pets.each do |pet| %>

    <% if pet.user_id == @current_user.id %>
        <div class='index-title'>
        <p> <%= link_to pet.name, pet_path(pet) %></p>

        <% if pet.picture.attached? %>
   
            <% pic = pet.picture %>
            <% variant = pic.variant(resize_to_limit: [300, 300]).processed %>
            <img src="<%=(url_for(variant))%>">
        <% else %><br>
            <%= "No Image 😢"%>
            <% end %>
        </div>
    <% end %>
<% end %>
<% end %>
</div> 

<!-- REMOVE EVERYTHING BELOW BEFORE TUESDAY -->
<br><br><br><br><br>
<div class="dev">
<p> REMOVE DEV LIST BEFORE TUESDAY </p>
<% @pets.each do |pet| %>
    <p> <%= link_to pet.name, pet_path(pet) %></p>
    
<% end %>
<p></p> NEEDS TO BE DELETED BEFORE FINAL </p>

</div>