<h1> Pet Page </h1>

<div class="show-container">
<div class=show-title>

   <p>  <%= @pet.name %> </p>
   <p> <%= @pet.bio %> </p>
   <p><b>Age:</b> <%= @pet.age %></p>
   <p><b>Owner:</b> <%= link_to @pet.user.name, user_path(@pet.user) %></p>

   <% if @pet.picture.attached? %>
      
      <% variant = @pet.picture.variant(resize_to_limit: [300, 300]).processed %>
      <img src="<%=(url_for(variant))%>">

   <% end %>
</div>
</div>

<br><br>


<!-- THIS IS THE DATE ACCEPTED/PENDING -->



<% if @current_user.id == @pet.user.id %>
<div class="new-container">

   <% if @requestieorder.length > 0 %> <!-- This is for requests that the other Users approved! -->
      <label>  Requests Aproved: </label>
      <ul> <% @requestieorder.each do |meeting| %>

         <% if meeting.status == 'Accepted'%>
            <li><%= link_to 'Meeting:', meeting_path(meeting) %>
            <%= meeting.requester.name %> and 
            <%= meeting.requestie.name %> at 
            <%= meeting.location.name %>, 
            <%= meeting.time_nice %> Status = 
            <%= meeting.status %> 
            </li>
         <% end %>
         
      <% end %>
   </ul>
   <% end %> <br>

<% if @requesterorder.length > 0 %>

   <label> Requests Accepted: </label> <!-- This is for requests that the owner approved! -->
    <% @requesterorder.each do |meeting| %>
   <% if meeting.status == 'Accepted'%>
      <li><%= link_to 'Meeting:', meeting_path(meeting) %>
      <%= meeting.requester.name %> and 
      <%= meeting.requestie.name %> at 
      <%= meeting.location.name %>, 
      <%= meeting.time_nice %> Status = 
      <%= meeting.status %> 
      </li>
   <% end %>
   <% end %>

   <br>
   <label> Requests Received: </label> <!-- This is for requests that are sent to the pet -->
    <% @requesterorder.each do |meeting| %>

   <% if meeting.status != "Accepted" %>  
         <li><%= link_to 'Meeting:', meeting_path(meeting) %>
      <%= meeting.requester.name %> and 
      <%= meeting.requestie.name %> at 
      <%= meeting.location.name %>, 
      <%= meeting.time_nice %> Status = 
      <%= meeting.status %> 
      </li>

         <%= form_for meeting do |f|%>
            <%= f.hidden_field :status, value: meeting.accept %>
            <%= f.submit "Accept the meeting!" %>
         <% end %>
       <% end %>   
   <% end %>

<% end %>
</div>
<% end %>



<!-- THIS IS THE NEW DATE REQUEST PART! -->

<br><br><br>


<% if @pet.user.id != @current_user.id %>
<div class="new-container">
   <%= form_tag meetings_path do %>

   <label> Time: </label>
   <%# <%= datetime_select(:meeting, :time, default: {hour: 9, min: 0}) %>
   <%= datetime_select(:meeting, :time, :default => 0.days.from_now.in_time_zone("America/New_York")) %><br><br>

   <label> My Pets: </label>
   <%= collection_select(:meeting, :requestie_id, @current_user.pets , :id, :name ) %><br><br>

   <%# <label> Other Pets: </label> %>
   <%= hidden_field(:meeting, :requester_id, :value => cookies[:last_viewed_pet] ) %>
   <%# collection_select(:meeting, :requester_id, (Pet.all - @current_user.pets), :id, :name ) %><br><br>
   <%= hidden_field(:meeting, :status, :value => 'Requested' ) %>

   <label> Place: </label>
   <%= collection_select(:meeting, :location_id, @locations, :id, :name ) %><br><br>

   <%= submit_tag "Make Request"%>
   <% end %>
   </div>
<% end %>


<br><br><br><br>

<p> 
   Your view count is: <%= cookies[:view_count] %><br>
   This is a cookie test!
</p>