<h1> Pet Page </h1>

<h3>Pet name: <%= @pet.name %> </h3>

<p> Pet Bio: <%= @pet.bio %> </p>

<p><b>Age:</b> <%= @pet.age %></p>

<p><b>Owner:</b> <%= @pet.user.name %></p>


<ul>

 <% if @pet.pictures.attached? %>
   
   <% @pet.pictures.each do |picture| %>
   <% variant = picture.variant(resize_to_limit: [300, 300]).processed %>
    <li><img src="<%=(url_for(variant))%>"></li>
    <% end %>
    <% end %>
</ul>
<br><br>

<% if @pet.requestie_relationships.length > 0 %>
<label> Meeting Requests: </label>
<ul> <% @pet.requestie_relationships.each do |meeting| %>
  
   <li><%= link_to 'Meeting:', meeting_path(meeting) %>
   <%= meeting.requester.name %> and 
    <%= meeting.requestie.name %> at 
    <%= meeting.location.name %>, 
    <%= meeting.time_nice %> Status = 
    <%= meeting.status %> 
   </li>
   
   <% if meeting.status == "Requested" %>
      <%= form_for meeting do |f|%>
         <%= f.hidden_field :status, value: meeting.accept %>
         <%= f.submit "Accept the meeting!" %>
         <% end %>
      <% end %>
   <% end %>
</ul>
<% end %>

<% if @pet.requested_relationships.length %>
<label> Confirmed Meetings: </label>
<p> <% @pet.requested_relationships.each do |meeting| %>
  
   <li><%= link_to 'Meeting:', meeting_path(meeting) %>
   <%= meeting.requestie.name %> at 
    <%= meeting.location.name %>, 
    <%= meeting.time_nice %> Status = 
   <%= meeting.status %> 
   </li>
 
   <% end %>
</p>
<% end %>


<%# render 'meetings/form' %>



<br><br><br><br>
<p> 
   Your view count is: <%= cookies[:view_count] %><br>
   This is a cookie test!
</p>