<%= render 'shared/errors' %>

<div class="form-for"> 
<%= form_for @user do |f| %>

  <%= f.label :user_name %>
  <%= f.text_field :user_name %><br><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br><br>

  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.label :neighbourhood %>
  <%= f.text_field :neighbourhood %><br><br>

  <%= f.label :bio %>
  <%= f.text_field :bio %><br><br>

  <%= f.label :hobbies %>
  <%= f.text_field :hobbies %><br><br>

  <%= f.label "Favorite Movie?" %>
  <%= f.text_field :favorite %><br><br>

  <%= f.label "Profile Photo" %>
  <%= f.file_field :picture %><br><br>

  <%= f.hidden_field :email, value: User.all.count %>

  <%= f.submit %>
<% end %>
</div>