<%= render 'shared/errors' %>

<div class="all-new-container"> 
<%= form_for @user do |f| %>

  <div class="all-new-label"><%= f.label :user_name %><br>
  <%= f.text_field :user_name %></div>

  <div class="all-new-label"><%= f.label :password %><br>
  <%= f.password_field :password %></div>

  <div class="all-new-label"><%= f.label :name %><br>
  <%= f.text_field :name %></div>

  <div class="all-new-label"><%= f.label :neighbourhood %><br>
  <%= f.text_field :neighbourhood %></div>

  <div class="all-new-label"><%= f.label :bio %><br>
  <%= f.text_field :bio %></div>

  <div class="all-new-label"><%= f.label :hobbies %><br>
  <%= f.text_field :hobbies %></div>

  <div class="all-new-label"> <%= f.label "Favorite Movie?" %><br>
  <%= f.text_field :favorite %></div>

  <div class="all-new-label"><%= f.label "Profile Photo" %><br>
  <%= f.file_field :picture %></div>

  <%= f.hidden_field :email, value: User.all.count %>

  <button><%= f.submit %></button>
<% end %>
</div>