<h1> User Page </h1>

<h3><%= @user.name %> </h3>

<p> <%= @user.bio %> </p>

<p> <%= @user.user_name %> </p>

<ul>

 <% if @user.pictures.attached? %>
   
   <% @user.pictures.each do |picture| %>
   <% variant = picture.variant(resize_to_limit: [300, 300]).processed %>
        <li><img src="<%=(url_for(variant))%>"></li>
    <% end %>
  <% end %>
</ul>

<h3><u>My Pets </u></h3>

<ul><% @user.pets.each do |pet| %> 
    <li><%= link_to pet.name, pet_path(pet.id) %> </li>
    <% end %> 
</ul>