<h1><%= @user.name %></h1>
<h3> <%= @user.location %></h3>

 <% if @user.picture.attached? %>
   
   <% variant = @user.picture.variant(resize_to_limit: [300, 300]).processed %>
        <img src="<%=(url_for(variant))%>">
  <% end %>
<p> <%= @user.bio %> </p>
<p> Hobbies: <%= @user.hobbies %> </p>
<p> Favorite Movie: <%= @user.favorite %> </p>

<h3>My Pets </h3>

<ul>
    <% @user.pets.each do |pet| %> 
    <li><%= link_to pet.name, pet_path(pet.id) %> </li>
    
    <% variant = pet.picture.variant(resize_to_limit: [300, 300]).processed %>
    <img src="<%=(url_for(variant))%>">
    <% end %> 
</ul>

<%# ------Only the login'd user should see the dates list  ---------%>
<% if @current_user.id == @user.id %> 

      <h3> Playdates </h3>

  <ul>
    <% @user.pets.each do |pet| %>
    <% pet.get_requestie_relationships.each do |meeting| %>
      <%= link_to "#{meeting.requester.name} and #{meeting.requestie.name} at #{meeting.location.name}", meeting_path(meeting) %><br>
      <%= "#{meeting.time_nice}" %><br>
        Status:  <%= meeting.status %> <br><br>
    <% end %>
    
    <% end %>
  </ul>

  <ul>
    <% @user.pets.each do |pet| %>
    <% pet.get_requested_relationships.each do |meeting| %>
      <%= link_to "#{meeting.requester.name} and #{meeting.requestie.name} at #{meeting.location.name}", meeting_path(meeting) %><br>
      <%= "#{meeting.time_nice}" %><br>
        Status:  <%= meeting.status %> <br><br>
    <% end %>
    
    <% end %>
  </ul>

  <% end %>

