<%= render 'shared/errors' %>

<div class="all-new-container">
<%= form_for @location do |f| %>
  <div class="all-new-label"><%= f.label :name %><br>
  <%= f.text_field :name %></div>

  <div class="all-new-label"><%= f.label :neighbourhood %><br>
  <%= f.text_field :neighbourhood %></div>
  
  <div class="all-new-label"><%= f.label "Location Photo" %><br>
  <%= f.file_field :picture %></div>

  <button><%= f.submit %></button>
<% end %>
</div>