<h1> location Edit Page </h1>

<ul><% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <li><p><%= error %></p></li>
  <% end %>
<% end %>
</ul>

<%= form_for @location do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.submit %>
<% end %>