<%= render 'shared/logobanner' %>
<ul><% @locations.each do |location| %>
<li><h1><%= link_to location.name, location_path(location) %></h1>
<h3><%= location.neighbourhood %></h3>
   <% variant = location.picture.variant(resize_to_limit: [300, 300]).processed %>
        <img src="<%=(url_for(variant))%>"></li>
<% end %>

    

    <h2> <%= link_to "Click here to Create New Location", new_location_path %> </h2>
