<!DOCTYPE html>
<html>
  <head>
    <title>PetDate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <img src="https://i.pinimg.com/originals/30/7d/4d/307d4d03ef660e147a9d79637d11ee28.jpg">
    
    <h1>Pet Date </h1>

    <ul class="nav">
      <li><%= link_to "My Pets", pets_path %></li>
      <li><%= link_to "Create A Pet", new_pet_path %></li>
      <li><%= link_to "Create a date", new_meeting_path %></li>
            <%#<><%= link_to "Browse Pets", browse_pets_path %>




      <% if @current_user %>
              <li><%= link_to "Edit Profile", edit_user_path(@current_user) %></li>
              <%= link_to "Logout", logout_path, method: :delete  %></li>
        <li> Welcome <%= @current_user.name  %></li>
      <%  else %>
        <li><%= link_to "Sign Up", new_user_path %></li>
        <li><%= link_to "Login", new_login_path %></li>
      <%  end %>
    </ul>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
